/* line 1, /home/lam/unifork/app/assets/stylesheets/customs.scss */
.search-form-title {
  color: #777777 !important;
  font-weight: 300;
  margin: 0px;
}

/* line 7, /home/lam/unifork/app/assets/stylesheets/customs.scss */
.search-message {
  color: #dadada;
}

/* line 10, /home/lam/unifork/app/assets/stylesheets/customs.scss */
.search {
  background-color: rgba(121, 121, 121, 0.55);
  border: none;
  width: 100%;
  border-radius: 50px;
  height: 50px;
  padding: 10px 20px !important;
  font-size: 20px;
  font-weight: 400;
  color: #ffffff;
  text-align: center;
}

/* line 24, /home/lam/unifork/app/assets/stylesheets/customs.scss */
.search:focus {
  background: rgba(0, 0, 0, 0.22);
}

/* line 28, /home/lam/unifork/app/assets/stylesheets/customs.scss */
.btn-search {
  position: absolute;
  right: 0px;
  top: -5px;
  padding: 0px;
  width: 48px;
  height: 48px;
  text-align: center !important;
  background: none !important;
  box-shadow: none !important;
}

/* line 40, /home/lam/unifork/app/assets/stylesheets/customs.scss */
.btn-search i {
  font-size: 25px !important;
  color: #dadada;
}

/* line 45, /home/lam/unifork/app/assets/stylesheets/customs.scss */
.profile-page .page-header {
  height: 300px;
}

/* line 49, /home/lam/unifork/app/assets/stylesheets/customs.scss */
.img-profile {
  width: 160px;
  height: 160px;
}

/* line 54, /home/lam/unifork/app/assets/stylesheets/customs.scss */
.img-md {
  width: 100px;
  height: 100px;
}

/* line 59, /home/lam/unifork/app/assets/stylesheets/customs.scss */
.point {
  font-style: normal;
  font-weight: 300;
  padding: 10px !important;
  font-size: 30px !important;
}

/* line 67, /home/lam/unifork/app/assets/stylesheets/customs.scss */
.point-received {
  font-size: 50px !important;
}

/* line 71, /home/lam/unifork/app/assets/stylesheets/customs.scss */
.profile-tabs {
  margin-top: 30px !important;
}

/* line 75, /home/lam/unifork/app/assets/stylesheets/customs.scss */
.nav-pills .nav-item {
  min-width: 120px;
}

/* line 79, /home/lam/unifork/app/assets/stylesheets/customs.scss */
.nav-item .nav-link.active i {
  font-weight: 400;
}

/* line 83, /home/lam/unifork/app/assets/stylesheets/customs.scss */
.profile-page .nav-item .nav-link.active {
  background-color: #b94676;
}

/*
* ======================== @admin ====================================
*/
/* line 92, /home/lam/unifork/app/assets/stylesheets/customs.scss */
.field_with_errors {
  width: 100% !important;
  background: #04040459 !important;
  border-radius: 50px !important;
}

/* line 98, /home/lam/unifork/app/assets/stylesheets/customs.scss */
.signup-page .input-group input {
  background: #04040459 !important;
  padding: 20px !important;
  border-radius: 50px !important;
  color: #d2d2d2;
  font-weight: 400 !important;
}

/* line 106, /home/lam/unifork/app/assets/stylesheets/customs.scss */
.remember {
  margin: 10px !important;
}
