<div class="modal fade loading-panel" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
      </div>
      <div class="modal-body">
        <div class="container">
          <div class="row">
            <div class="col-md-12 ml-auto mr-auto text-center">
              <%= image_tag "loading.gif", class: "img-loading rounded-circle img-fluid img-table" %>
              <%= image_tag "checkmark.gif", class: "img-done rounded-circle img-fluid img-table" %>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>
