<div class="page-header header-filter" data-parallax="true" style=" background-image: url('../assets/img/kit/profile_city.jpg'); ">
  <div class="container">
    <div class="main main-raised">
      <div class="container">
        <div class="row">
          <div class="col-md-8 ml-auto mr-auto">
            <h2 class="text-center search-form-title">Search</h2>
            <h4 class="text-center description">Please enter your name bellow</h4>
            <form class="contact-form">
              <div class="form-group">
                <div class="input-group">
                  <input type="text" class="form-control search-input">
                </div>
              </div>
              <div class="row">
                <div class="col-md-4 ml-auto mr-auto text-center">
                  <button class="btn btn-primary btn-raised btn-search">Go!</button>
                </div>
              </div>
            </form>
          </div>
        </div>
        <div class="row profile">
        </div>
      </div>
    </div>
  </div>
</div>
