<div class="page-header header-filter" style=" background-image: url('/assets/background.png'); ">
  <div class="container">
    <div class="row">
      <div class="col-md-6 ml-auto mr-auto">
        <div class="search-panel">
          <h2 class="text-center search-form-title">Search</h2>
          <h4 class="text-center description mt-1">Please enter your name bellow</h4>
          <form>
            <div class="input-group">
              <input type="text" class="search ml-auto mr-auto" autofocus>
              <button class="btn btn-default btn-round btn-search">
                <i class="material-icons">search</i>
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="row profile text-center"></div>
  </div>
</div>
