<%= link_to admin_root_path, class: "btn btn-primary admin-link" do %>
  <i class="material-icons">how_to_reg</i> Admin
<% end %>
<div class="page-header header-filter home-page">
  <div class="container">
    <div class="row">
      <div class="col-md-6 ml-auto mr-auto">
        <div class="search-panel">
          <h2 class="text-center search-form-title">Search</h2>
          <h4 class="text-center description mt-1">Please enter your name bellow</h4>
          <%= render "form" %>
        </div>
      </div>
    </div>
    <div class="row profile text-center"></div>
  </div>
</div>
