<%= form_for [:admin, tag], html: {class: "form"}  do |f| %>
  <div class="row">
    <div class="col-md-12">
      <div class="form-group">
        <div class="input-group mt-3 pr-3">
          <div class="input-group-prepend">
            <span class="input-group-text">
              <i class="material-icons">code</i>
            </span>
          </div>
          <%= f.text_field :name, class: "form-control tag-name", placeholder: "Name", autocomplete: :off %>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="form-group mt-4 pr-3">
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">
              <i class="material-icons">done</i>
            </span>
          </div>
          <%= f.text_field :key_name, class: "form-control tag-key-name", placeholder: "Key Name", autocomplete: :off %>
        </div>
      </div>
    </div>
  </div>
<% end %>
