<tr tag_id="<%= tag.id %>">
  <td><%= tag.name %></td>
  <td><%= tag.key_name %></td>
  <td>
    <button type="button" class="btn btn-primary btn-link btn-sm btn-edit-tag">
      <i class="material-icons">edit</i>
    </button>
    <button type="button" class="btn btn-danger btn-link btn-sm btn-delete-tag">
      <i class="material-icons">close</i>
    </button>
  </td>
</tr>
