<div class="card card-profile">
  <div class="card-avatar">
    <a href="#">
      <img class="img" src="/assets/avatar.jpg"/>
    </a>
  </div>
  <div class="card-body">
    <h6 class="card-category text-gray"><%= current_admin.name %></h6>
    <h4 class="card-title"><%= current_admin.email %></h4>
    <p class="card-description">
      Your name is my password because I want to type it again again and again!
    </p>
  </div>
</div>
