<tr setting_id="<%= setting.id %>">
  <td><%= setting.key %></td>
  <td><%= setting.value %></td>
  <td>
    <button type="button" class="btn btn-primary btn-link btn-sm btn-edit-setting">
      <i class="material-icons">edit</i>
    </button>
    <button type="button" class="btn btn-danger btn-link btn-sm btn-delete-setting">
      <i class="material-icons">close</i>
    </button>
  </td>
</tr>
