<div class="container">
  <div class="row">
    <div class="col-md-12">
      <%= column_chart @dashboard.top_received%>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <%= area_chart @dashboard.sent_in_day %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-9">
      <%= scatter_chart @dashboard.sent_time_with_point %>
    </div>
    <div class="col-md-3">
      <%= pie_chart @dashboard.sent_and_clapped %>
    </div>
  </div>
</div>
