<div class="text-center">
  <%= link_to user do %>
    <%= image_tag user.avatar, class: "img-raised rounded-circle img-fluid img-md" %>
  <% end %>
  <h3 class="title"><%= user.name %></h3>
  <h6><%= user.unipos_name %></h6>
</div>
